@model User

@if(Model != null)
{
    <form asp-controller="Home" asp-action="CreateUser" method="post" >
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" placeholder="Email@email.com">
        
        <label class="form-label" asp-for="Username"></label>
        <input class="form-control" asp-for="Username" placeholder="Username">
        
        <label class="form-label" asp-for="Password"></label>
        <input class="form-control" asp-for="Password" placeholder="Password">
        
        <label class="form-label" asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" placeholder="FirstName">
        
        <label class="form-label" asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" placeholder="LastName">

        <button class="btn btn--primary" type="submit">Create User</button> 
    </form>
}