@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="posts">

        <div class="post">
            <div class="post__image post__image--1"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image post__image--2"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image post__image--3"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image post__image--4"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image post__image--5"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post__image post__image--6"></div>
            <div class="post__content">
                <div class="post__inside">
                    <h3 class="post__title">Lorem ipsum dolor</h3>
                    <p class="post__excerpt">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem blanditiis et sequi nulla sit totam, quidem consequuntur maiores sapiente assumenda.
                    </p>
                    <button class="btn--accent post__button">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
