@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}

@if(Model == null)
{
    <h2>There are no articles</h2>
}
else
{
    <h1>Pinch of Pepper!</h1>
    <div class="d-flex flex-wrap">
        @foreach(Article article in Model)
        {
            <partial name="_ArticlePartialView" for="@article"/>
        }
        <div>
            <a asp-controller="Home" asp-action="CreateArticle" class=" float">
                <h1 class="bi bi-plus-square"></h1>
            </a>
        </div>
    </div>
}
