@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}

@if(Model == null)
{
    <h2>There are no articles</h2>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach(Article article in Model)
        {
            <partial name="_ArticlePartialView" for="@article"/>
        }
    </div>
}

@*<form asp-controller="Home" asp-action="Email">
    <button type="submit">Send Email</button>
</form>*@